<!-- This file contains the customization dialog of the MyoFInDer Windows installer -->
<Wix
    xmlns="http://wixtoolset.org/schemas/v4/wxs">

    <Fragment>
        <UI>

            <!-- The dialog containing the customization options -->
            <Dialog
                CustomPalette="no"
                ErrorDialog="no"
                Height="312"
                Hidden="no"
                Id="CustomizeDialog"
                KeepModeless="no"
                LeftScroll="no"
                Modeless="no"
                NoMinimize="yes"
                RightAligned="no"
                RightToLeft="no"
                SystemModal="no"
                Title="MyoFInDer Setup"
                TrackDiskSpace="no"
                Width="493"
                X="50"
                Y="50" >

                <!-- Top line just for aesthetics -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="0"
                    Hidden="no"
                    Id="TopLine"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Type="Line"
                    Width="493"
                    X="0"
                    Y="58" />

                <!-- Bottom line just for aesthetics -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="0"
                    Hidden="no"
                    Id="BottomLine"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Type="Line"
                    Width="493"
                    X="0"
                    Y="276" />

                <!-- MyoFInDer banner just for aesthetics -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="58"
                    Hidden="no"
                    Id="Banner"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="WixUIBannerBmp"
                    Type="Bitmap"
                    Width="493"
                    X="0"
                    Y="0" />

                <!-- Title describing the content of the current window -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    FormatSize="no"
                    Height="30"
                    Hidden="no"
                    Id="Title"
                    LeftScroll="no"
                    NoPrefix="yes"
                    NoWrap="yes"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="{\DlgTitleFont}Custom setup"
                    Transparent="yes"
                    Type="Text"
                    Width="463"
                    X="15"
                    Y="20" />

                <!-- Selection tree allowing to choose which features to install or not -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="130"
                    Hidden="no"
                    Id="Tree"
                    LeftScroll="no"
                    Property="BrowseProperty"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="yes"
                    TabSkip="no"
                    Text="Selection tree"
                    Type="SelectionTree"
                    Width="235"
                    X="25"
                    Y="85" />

                <Control
                    Bitmap="no"
                    Cancel="yes"
                    Default="no"
                    Disabled="no"
                    ElevationShield="no"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Browse"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="Browse"
                    Type="PushButton"
                    Width="56"
                    X="304"
                    Y="200" />

                <Control
                    Bitmap="no"
                    Cancel="yes"
                    Default="no"
                    Disabled="no"
                    ElevationShield="no"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Reset"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="Reset"
                    Type="PushButton"
                    Width="56"
                    X="77"
                    Y="243" >
                    <Subscribe
                        Attribute="Enabled"
                        Event="SelectionNoItems" />
                </Control>

                <Control
                    Cancel="yes"
                    Default="no"
                    Disabled="no"
                    Height="130"
                    Hidden="no"
                    Id="Box"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Type="GroupBox"
                    Width="190"
                    X="280"
                    Y="81" />

                <!-- Brief description of the selected feature -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    FormatSize="no"
                    Height="30"
                    Hidden="no"
                    Id="ItemDescription"
                    LeftScroll="no"
                    NoPrefix="yes"
                    NoWrap="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="Multiline description of the currently selected item"
                    Transparent="yes"
                    Type="Text"
                    Width="181"
                    X="285"
                    Y="90" >
                    <Subscribe
                        Attribute="Text"
                        Event="SelectionDescription" />
                </Control>

                <!-- Description of the size of the selected feature -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    FormatSize="no"
                    Height="71"
                    Hidden="no"
                    Id="ItemSize"
                    LeftScroll="no"
                    NoPrefix="yes"
                    NoWrap="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="The size of the currently selected item"
                    Transparent="yes"
                    Type="Text"
                    Width="181"
                    X="285"
                    Y="136" >
                    <Subscribe
                        Attribute="Text"
                        Event="SelectionSize" />
                </Control>

                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    FormatSize="no"
                    Height="20"
                    Hidden="no"
                    Id="Location"
                    LeftScroll="no"
                    NoPrefix="yes"
                    NoWrap="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="The selections path"
                    Transparent="yes"
                    Type="Text"
                    Width="215"
                    X="192"
                    Y="240" >
                    <Subscribe
                        Attribute="Text"
                        Event="SelectionPath" />
                    <Subscribe
                        Attribute="Visible"
                        Event="SelectionPathOn" />
                </Control>

                <!-- Label explaining the installation path -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    FormatSize="no"
                    Height="10"
                    Hidden="no"
                    Id="LocationLabel"
                    LeftScroll="no"
                    NoPrefix="yes"
                    NoWrap="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="Location:"
                    Transparent="yes"
                    Type="Text"
                    Width="100"
                    X="25"
                    Y="240" >
                    <Subscribe
                        Attribute="Visible"
                        Event="SelectionPathOn" />
                </Control>

                <!-- Button for cancelling the installation -->
                <Control
                    Bitmap="no"
                    Cancel="yes"
                    Default="no"
                    Disabled="no"
                    ElevationShield="no"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Cancel"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="Cancel"
                    Type="PushButton"
                    Width="56"
                    X="10"
                    Y="285" />

                <Control
                    Bitmap="no"
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    ElevationShield="no"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Back"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="&lt; Back"
                    Type="PushButton"
                    Width="56"
                    X="361"
                    Y="285" />

                <!-- Button for starting MyoFInDer's installation -->
                <Control
                    Bitmap="no"
                    Cancel="no"
                    Default="yes"
                    Disabled="no"
                    ElevationShield="no"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Install"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="Install"
                    Type="PushButton"
                    Width="56"
                    X="427"
                    Y="285" />

            </Dialog>
        </UI>
    </Fragment>
</Wix>