<!-- This file contains the license agreement dialog of the MyoFInDer Windows installer -->
<Wix
    xmlns="http://wixtoolset.org/schemas/v4/wxs">

    <Fragment>
        <UI>

            <!-- The dialog containing the license agreement -->
            <Dialog
                CustomPalette="no"
                ErrorDialog="no"
                Height="312"
                Hidden="no"
                Id="LicenseDialog"
                KeepModeless="no"
                LeftScroll="no"
                Modeless="no"
                NoMinimize="yes"
                RightAligned="no"
                RightToLeft="no"
                SystemModal="no"
                Title="MyoFInDer Setup"
                TrackDiskSpace="no"
                Width="493"
                X="50"
                Y="50" >

                <!-- Top line just for aesthetics -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="0"
                    Hidden="no"
                    Id="TopLine"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Type="Line"
                    Width="493"
                    X="0"
                    Y="58" />

                <!-- Bottom line just for aesthetics -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="0"
                    Hidden="no"
                    Id="BottomLine"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Type="Line"
                    Width="493"
                    X="0"
                    Y="276" />

                <!-- MyoFInDer banner just for aesthetics -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="58"
                    Hidden="no"
                    Id="Banner"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="WixUIBannerBmp"
                    Type="Bitmap"
                    Width="493"
                    X="0"
                    Y="0" />

                <!-- Title describing the content of the current window -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    FormatSize="no"
                    Height="30"
                    Hidden="no"
                    Id="Title"
                    LeftScroll="no"
                    NoPrefix="yes"
                    NoWrap="yes"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="{\DlgTitleFont}Please accept the License Agreement"
                    Transparent="yes"
                    Type="Text"
                    Width="463"
                    X="15"
                    Y="20" />

                <!-- Checkbox to check for accepting the license agreement -->
                <Control
                    Cancel="no"
                    CheckBoxValue='1'
                    Default="no"
                    Disabled="no"
                    Height="17"
                    Hidden="no"
                    Id="CheckBox"
                    LeftScroll="no"
                    Property='LICENSE_ACCEPTED'
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="yes"
                    Text="{\DlgFont9}   I accept the terms of the License Agreement"
                    Type="CheckBox"
                    Width="300"
                    X="20"
                    Y="242" />

                <!-- Box displaying the content of the LICENSE file -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="160"
                    Hidden="no"
                    Id="AgreementText"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="yes"
                    TabSkip="yes"
                    Type="ScrollableText"
                    Width="453"
                    X="20"
                    Y="70" >
                    <Text
                        SourceFile=".\docs\LICENSE.rtf" />
                </Control>

                <!-- Button for cancelling the installation -->
                <Control
                    Bitmap="no"
                    Cancel="yes"
                    Default="no"
                    Disabled="no"
                    ElevationShield="no"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Cancel"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="yes"
                    Text="Cancel"
                    Type="PushButton"
                    Width="56"
                    X="10"
                    Y="285" />

                <!-- Button for switching back to the previous installer window -->
                <Control
                    Bitmap="no"
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    ElevationShield="no"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Back"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="&lt; Back"
                    Type="PushButton"
                    Width="56"
                    X="361"
                    Y="285" />

                <!-- Button for switching to the next installer window -->
                <Control
                    Bitmap="no"
                    Cancel="no"
                    Default="yes"
                    DisableCondition="LICENSE_ACCEPTED&lt;&gt;&quot;1&quot;"
                    ElevationShield="no"
                    EnableCondition="LICENSE_ACCEPTED=&quot;1&quot;"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Next"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="Next &gt;"
                    Type="PushButton"
                    Width="56"
                    X="427"
                    Y="285" />

            </Dialog>
        </UI>
    </Fragment>
</Wix>