<!-- This file contains the progress dialog of the MyoFInDer Windows installer -->
<Wix
    xmlns="http://wixtoolset.org/schemas/v4/wxs">

    <Fragment>
        <UI>

            <!-- The dialog containing the progress bar -->
            <Dialog
                CustomPalette="no"
                ErrorDialog="no"
                Height="312"
                Hidden="no"
                Id="ProgressDialog"
                KeepModeless="no"
                LeftScroll="no"
                Modeless="yes"
                NoMinimize="yes"
                RightAligned="no"
                RightToLeft="no"
                SystemModal="no"
                Title="MyoFInDer Setup"
                TrackDiskSpace="no"
                Width="493"
                X="50"
                Y="50" >

                <!-- Top line just for aesthetics -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="0"
                    Hidden="no"
                    Id="TopLine"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Type="Line"
                    Width="493"
                    X="0"
                    Y="58" />

                <!-- Bottom line just for aesthetics -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="0"
                    Hidden="no"
                    Id="BottomLine"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Type="Line"
                    Width="493"
                    X="0"
                    Y="276" />

                <!-- MyoFInDer banner just for aesthetics -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="58"
                    Hidden="no"
                    Id="Banner"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="WixUIBannerBmp"
                    Type="Bitmap"
                    Width="493"
                    X="0"
                    Y="0" />

                <!-- Title describing the content of the current window -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    FormatSize="no"
                    Height="30"
                    Hidden="no"
                    Id="Title"
                    LeftScroll="no"
                    NoPrefix="yes"
                    NoWrap="yes"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="{\DlgTitleFont}Custom setup"
                    Transparent="yes"
                    Type="Text"
                    Width="200"
                    X="15"
                    Y="20" />

                <!-- Text describing the current status of the installation -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    FormatSize="no"
                    Height="30"
                    Hidden="no"
                    Id="ActionData"
                    LeftScroll="no"
                    NoPrefix="yes"
                    NoWrap="yes"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="{\DlgTitleFont}Custom setup"
                    Transparent="yes"
                    Type="Text"
                    Width="388"
                    X="70"
                    Y="121" >
                    <Subscribe
                        Attribute="Text"
                        Event="ActionData" />
                </Control>

                <!-- Information text -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    FormatSize="no"
                    Height="10"
                    Hidden="no"
                    Id="StatusLabel"
                    LeftScroll="no"
                    NoPrefix="yes"
                    NoWrap="yes"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="Status:"
                    Transparent="yes"
                    Type="Text"
                    Width="35"
                    X="35"
                    Y="121" />

                <!-- Progress bar showing the completion level of the installation -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="15"
                    Hidden="no"
                    Id="ProgressBar"
                    LeftScroll="no"
                    ProgressBlocks="yes"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="Progress done"
                    Type="ProgressBar"
                    Width="423"
                    X="35"
                    Y="136" >
                    <Subscribe
                        Attribute="Progress"
                        Event="SetProgress" />
                </Control>

                <!-- Button for cancelling the installation -->
                <Control
                    Bitmap="no"
                    Cancel="yes"
                    Default="no"
                    Disabled="no"
                    ElevationShield="no"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Cancel"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="Cancel"
                    Type="PushButton"
                    Width="56"
                    X="10"
                    Y="285" />

                <!-- Button for switching back to the previous installer window - disabled -->
                <Control
                    Bitmap="no"
                    Cancel="yes"
                    Default="no"
                    Disabled="yes"
                    ElevationShield="no"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Back"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="&lt; Back"
                    Type="PushButton"
                    Width="56"
                    X="361"
                    Y="285" />

                <!-- Button for switching to the next installer window - disabled -->
                <Control
                    Bitmap="no"
                    Cancel="no"
                    Default="yes"
                    Disabled="yes"
                    ElevationShield="no"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Next"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="Next &gt;"
                    Type="PushButton"
                    Width="56"
                    X="427"
                    Y="285" />

            </Dialog>
        </UI>
    </Fragment>
</Wix>