<!-- This file contains a text input for entering the user's DeepCell token -->
<Wix
    xmlns="http://wixtoolset.org/schemas/v4/wxs">

    <Fragment>
        <UI>

            <!-- The dialog for providing the token -->
            <Dialog
                CustomPalette="no"
                ErrorDialog="no"
                Height="312"
                Hidden="no"
                Id="TokenDialog"
                KeepModeless="no"
                LeftScroll="no"
                Modeless="no"
                NoMinimize="yes"
                RightAligned="no"
                RightToLeft="no"
                SystemModal="no"
                Title="MyoFInDer Setup"
                TrackDiskSpace="no"
                Width="493"
                X="50"
                Y="50" >

                <!-- Top line just for aesthetics -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="0"
                    Hidden="no"
                    Id="TopLine"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Type="Line"
                    Width="493"
                    X="0"
                    Y="58" />

                <!-- Bottom line just for aesthetics -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="0"
                    Hidden="no"
                    Id="BottomLine"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Type="Line"
                    Width="493"
                    X="0"
                    Y="276" />

                <!-- MyoFInDer banner just for aesthetics -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="58"
                    Hidden="no"
                    Id="Banner"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="WixUIBannerBmp"
                    Type="Bitmap"
                    Width="493"
                    X="0"
                    Y="0" />

                <!-- Title describing the content of the current window -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    FormatSize="no"
                    Height="30"
                    Hidden="no"
                    Id="Title"
                    LeftScroll="no"
                    NoPrefix="yes"
                    NoWrap="yes"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="{\DlgTitleFont}Provide your DeepCell API token"
                    Transparent="yes"
                    Type="Text"
                    Width="463"
                    X="15"
                    Y="20" />

                <!-- Text informing the user to enter their token -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    FormatSize="no"
                    Height="30"
                    Hidden="no"
                    Id="Message"
                    LeftScroll="no"
                    NoPrefix="yes"
                    NoWrap="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="Please enter your personal DeepCell API token."
                    Transparent="yes"
                    Type="Text"
                    Width="400"
                    X="25"
                    Y="100" />

                <!-- Text providing a hyperlink to DeepCell's website -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="15"
                    Hidden="no"
                    Id="DeepCellLink"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="yes"
                    Text="If you don't have a token, please visit
&lt;a href=&quot;https://users.deepcell.org/register&quot;&gt;DeepCell&apos;s website&lt;/a&gt;
to create your DeepCell API token."
                    Transparent="no"
                    Type="Hyperlink"
                    Width="443"
                    X="25"
                    Y="115" />

                <!-- Editable field where the user should input their token -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="20"
                    Hidden="no"
                    Id="Token"
                    LeftScroll="no"
                    Multiline="no"
                    Password="no"
                    Property="TOKEN"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Type="Edit"
                    Width="443"
                    X="25"
                    Y="140" />

                <!-- Text informing the user that providing a token is mandatory -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    FormatSize="no"
                    Height="30"
                    Hidden="no"
                    Id="Warning"
                    LeftScroll="no"
                    NoPrefix="yes"
                    NoWrap="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="{\DlgFontBold8}Warning: You can skip this step, but
you'll be asked again later to enter your token. MyoFInDer won't start without
a valid DeepCell API token!"
                    Transparent="yes"
                    Type="Text"
                    Width="370"
                    X="25"
                    Y="200" />

                <!-- Button for cancelling the installation -->
                <Control
                    Bitmap="no"
                    Cancel="yes"
                    Default="no"
                    Disabled="no"
                    ElevationShield="no"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Cancel"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="yes"
                    Text="Cancel"
                    Type="PushButton"
                    Width="56"
                    X="10"
                    Y="285" />

                <!-- Button for switching back to the previous installer window -->
                <Control
                    Bitmap="no"
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    ElevationShield="no"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Back"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="&lt; Back"
                    Type="PushButton"
                    Width="56"
                    X="361"
                    Y="285" />

                <!-- Button for starting MyoFInDer's installation -->
                <Control
                    Bitmap="no"
                    Cancel="no"
                    Default="yes"
                    Disabled="no"
                    ElevationShield="no"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Install"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="Install"
                    Type="PushButton"
                    Width="56"
                    X="427"
                    Y="285" />

            </Dialog>
        </UI>
    </Fragment>
</Wix>
