<!-- This file contains the dialog displayed when the user cancels MyoFInDer's installation -->
<Wix
    xmlns="http://wixtoolset.org/schemas/v4/wxs">

    <Fragment>
        <UI>

            <!-- The user exit dialog -->
            <Dialog
                CustomPalette="no"
                ErrorDialog="no"
                Height="270"
                Hidden="no"
                Id="UserExitDialog"
                KeepModeless="no"
                LeftScroll="no"
                Modeless="no"
                NoMinimize="yes"
                RightAligned="no"
                RightToLeft="no"
                SystemModal="no"
                Title="MyoFInDer Setup"
                TrackDiskSpace="no"
                Width="370"
                X="50"
                Y="50" >

                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="234"
                    Hidden="no"
                    Id="Banner"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="WixUIDialogBmp"
                    Type="Bitmap"
                    Width="370"
                    X="0"
                    Y="0" />

                <!-- Title describing the content of the current window -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    Height="0"
                    Hidden="no"
                    Id="BottomLine"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Type="Line"
                    Width="370"
                    X="0"
                    Y="234" />

                <!-- Message informing the user that nothing was modified -->
                <Control
                    Cancel="no"
                    Default="no"
                    Disabled="no"
                    FormatSize="no"
                    Height="15"
                    Hidden="no"
                    Id="Title"
                    LeftScroll="no"
                    NoPrefix="yes"
                    NoWrap="yes"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="{\DlgTitleFont}Ready to Install"
                    Transparent="yes"
                    Type="Text"
                    Width="200"
                    X="15"
                    Y="6" />

                <!-- Button for cancelling the installation - disabled -->
                <Control
                    Bitmap="no"
                    Cancel="yes"
                    Default="no"
                    Disabled="yes"
                    ElevationShield="no"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Cancel"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="Cancel"
                    Type="PushButton"
                    Width="56"
                    X="10"
                    Y="243" />

                <!-- Button for switching back to the previous installer window - disabled -->
                <Control
                    Bitmap="no"
                    Cancel="no"
                    Default="no"
                    Disabled="yes"
                    ElevationShield="no"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Back"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="&lt; Back"
                    Type="PushButton"
                    Width="56"
                    X="238"
                    Y="243" />

                <!-- Button for exiting the installer -->
                <Control
                    Bitmap="no"
                    Cancel="yes"
                    Default="yes"
                    Disabled="no"
                    ElevationShield="no"
                    FixedSize="no"
                    Height="17"
                    Hidden="no"
                    Icon="no"
                    Id="Finish"
                    Image="no"
                    LeftScroll="no"
                    RightAligned="no"
                    RightToLeft="no"
                    Sunken="no"
                    TabSkip="no"
                    Text="Finish"
                    Type="PushButton"
                    Width="56"
                    X="304"
                    Y="243" />

            </Dialog>
        </UI>
    </Fragment>
</Wix>