<!-- wix extension add -g WixToolset.UI.wixext
     wix build myofinder.wxs -ext WixToolset.UI.wixext -o myofinder.msi -->

<Wix
    xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

    <!-- Basic Information about the installer -->
    <Package
        Name="MyoFInDer Test"
        Manufacturer="Tissue Engineering Lab"
        UpgradeCode="D3F780C0-8A53-44E1-81EB-570D9AE61393"
        Language="1033"
        Codepage="1252"
        Version="1.0.0"
        InstallerVersion="100"
        ProductCode="82C1CF17-504C-4306-A57C-5F9B72411D83">

        <!-- More information about the installer -->
        <SummaryInformation
            Keywords="Installer"
            Description="MyoFInDer Test Installer"
            Manufacturer="Tissue Engineering Lab" />

        <!-- Default fields -->
        <Media
            Id="1"
            Cabinet="Sample.cab"
            EmbedCab="yes"
            DiskPrompt="CD-ROM #1" />

        <!-- Default fields -->
        <Property
            Id="DiskPrompt"
            Value="MyoFInDer Test 1.0 Installation [1]" />

        <!-- List of the features to install -->
        <Feature
            Id="Complete"
            Title="MyoFInDer"
            Description="The complete package"
            Display="expand"
            Level="1"
            ConfigurableDirectory="INSTALLDIR">

            <Feature
                Id="MainProgram"
                Title="Program"
                Description="The main executable"
                Level="1">
                <ComponentRef Id="MainExecutable" />
                <ComponentRef Id="ProgramMenuDir" />
                <ComponentRef Id="RegistryValues" />
            </Feature>

            <Feature
                Id="Documentation"
                Title="Documentation"
                Description="The documentation manual"
                Level="1000">
                <ComponentRef Id="READMEFile" />
            </Feature>
        </Feature>

        <!-- The icon to use for the shortcuts -->
        <Icon
            Id="myofinder.ico"
            SourceFile="myofinder.ico" />

        <!-- Properties checking the type of installation -->
        <SetProperty
            Action="SetFirstInstall"
            After="FindRelatedProducts"
            Condition="NOT Installed AND NOT WIX_UPGRADE_DETECTED AND NOT WIX_DOWNGRADE_DETECTED"
            Id="FirstInstall"
            Sequence="both"
            Value="true" />
        <SetProperty
            Action="SetUpgrading"
            After="SetFirstInstall"
            Condition="WIX_UPGRADE_DETECTED AND NOT (REMOVE=&quot;ALL&quot;)"
            Id="Upgrading"
            Sequence="both"
            Value="true" />
        <SetProperty
            Action="SetUninstalling"
            After="SetUpgrading"
            Condition="Installed AND (REMOVE=&quot;ALL&quot;) AND NOT (WIX_UPGRADE_DETECTED OR UPGRADINGPRODUCTCODE)"
            Id="Uninstalling"
            Sequence="both"
            Value="true" />
        <SetProperty
            Action="SetMaintenance"
            After="SetUninstalling"
            Condition="Installed AND NOT Upgrading AND NOT Uninstalling AND NOT UPGRADINGPRODUCTCODE"
            Id="Maintenance"
            Sequence="both"
            Value="true" />

        <!-- Properties checking the installed Python versions -->
        <SetProperty
            Action="SetMachinePythonExePath3.7"
            After="AppSearch"
            Condition="MACHINEPYTHONPATH37"
            Id="SystemPythonExePath"
            Sequence="both"
            Value="[MACHINEPYTHONPATH37]" />
        <SetProperty
            Action="SetUserPythonExePath3.7"
            After="AppSearch"
            Condition="USERPYTHONPATH37"
            Id="SystemPythonExePath"
            Sequence="both"
            Value="[USERPYTHONPATH37]" />
        <SetProperty
            Action="SetMachinePythonExePath3.8"
            After="AppSearch"
            Condition="MACHINEPYTHONPATH38"
            Id="SystemPythonExePath"
            Sequence="both"
            Value="[MACHINEPYTHONPATH38]" />
        <SetProperty
            Action="SetUserPythonExePath3.8"
            After="AppSearch"
            Condition="USERPYTHONPATH38"
            Id="SystemPythonExePath"
            Sequence="both"
            Value="[USERPYTHONPATH38]" />
        <SetProperty
            Action="SetMachinePythonExePath3.9"
            After="AppSearch"
            Condition="MACHINEPYTHONPATH39"
            Id="SystemPythonExePath"
            Sequence="both"
            Value="[MACHINEPYTHONPATH39]" />
        <SetProperty
            Action="SetUserPythonExePath3.9"
            After="AppSearch"
            Condition="USERPYTHONPATH39"
            Id="SystemPythonExePath"
            Sequence="both"
            Value="[USERPYTHONPATH39]" />
        <SetProperty
            Action="SetMachinePythonExePath3.10"
            After="AppSearch"
            Condition="MACHINEPYTHONPATH310"
            Id="SystemPythonExePath"
            Sequence="both"
            Value="[MACHINEPYTHONPATH310]" />
        <SetProperty
            Action="SetUserPythonExePath3.10"
            After="AppSearch"
            Condition="USERPYTHONPATH310"
            Id="SystemPythonExePath"
            Sequence="both"
            Value="[USERPYTHONPATH310]" />

        <!-- Condition checking the current version of Windows -->
        <Launch
            Message="MyoFInDer requires Windows 8 or higher !"
            Condition="Installed OR VersionNT &gt; 602" />

        <!-- Checking if Python 3.7 is installed at the user level -->
        <Property
            Id="USERPYTHONPATH37">
            <RegistrySearch
                    Bitness="always64"
                    Id="UserPythonPath37"
                    Key="Software\Python\PythonCore\3.7\InstallPath"
                    Name="ExecutablePath"
                    Root="HKCU"
                    Type="raw" />
        </Property>

        <!-- Checking if Python 3.7 is installed at the machine level -->
        <Property
            Id="MACHINEPYTHONPATH37">
            <RegistrySearch
                    Bitness="always64"
                    Id="MachinePythonPath37"
                    Key="Software\Python\PythonCore\3.7\InstallPath"
                    Name="ExecutablePath"
                    Root="HKLM"
                    Type="raw" />
        </Property>

        <!-- Checking if Python 3.8 is installed at the user level -->
        <Property
            Id="USERPYTHONPATH38">
            <RegistrySearch
                    Bitness="always64"
                    Id="UserPythonPath38"
                    Key="Software\Python\PythonCore\3.8\InstallPath"
                    Name="ExecutablePath"
                    Root="HKCU"
                    Type="raw" />
        </Property>

        <!-- Checking if Python 3.8 is installed at the machine level -->
        <Property
            Id="MACHINEPYTHONPATH38">
            <RegistrySearch
                    Bitness="always64"
                    Id="MachinePythonPath38"
                    Key="Software\Python\PythonCore\3.8\InstallPath"
                    Name="ExecutablePath"
                    Root="HKLM"
                    Type="raw" />
        </Property>

        <!-- Checking if Python 3.9 is installed at the user level -->
        <Property
            Id="USERPYTHONPATH39">
            <RegistrySearch
                    Bitness="always64"
                    Id="UserPythonPath39"
                    Key="Software\Python\PythonCore\3.9\InstallPath"
                    Name="ExecutablePath"
                    Root="HKCU"
                    Type="raw" />
        </Property>

        <!-- Checking if Python 3.9 is installed at the machine level -->
        <Property
            Id="MACHINEPYTHONPATH39">
            <RegistrySearch
                    Bitness="always64"
                    Id="MachinePythonPath39"
                    Key="Software\Python\PythonCore\3.9\InstallPath"
                    Name="ExecutablePath"
                    Root="HKLM"
                    Type="raw" />
        </Property>

        <!-- Checking if Python 3.10 is installed at the user level -->
        <Property
            Id="USERPYTHONPATH310">
            <RegistrySearch
                    Bitness="always64"
                    Id="UserPythonPath310"
                    Key="Software\Python\PythonCore\3.10\InstallPath"
                    Name="ExecutablePath"
                    Root="HKCU"
                    Type="raw" />
        </Property>

        <!-- Checking if Python 3.10 is installed at the machine level -->
        <Property
            Id="MACHINEPYTHONPATH310">
            <RegistrySearch
                    Bitness="always64"
                    Id="MachinePythonPath310"
                    Key="Software\Python\PythonCore\3.10\InstallPath"
                    Name="ExecutablePath"
                    Root="HKLM"
                    Type="raw" />
        </Property>

        <!-- Condition checking that a valid version of Python is installed -->
        <Launch
            Message="MyoFInDer requires Python 3.7, 3.8, 3.9, or 3.10 to be installed !"
            Condition="Installed OR USERPYTHONPATH37 OR USERPYTHONPATH38 OR
            USERPYTHONPATH39 OR USERPYTHONPATH310 OR MACHINEPYTHONPATH37 OR
            MACHINEPYTHONPATH38 OR MACHINEPYTHONPATH39 OR MACHINEPYTHONPATH310" />

        <!-- Adding a nice GUI to the MSI installer -->
        <ui:WixUI Id="WixUI_Mondo" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <!-- Referencing the Desktop Folder where a shortcut will be added -->
        <StandardDirectory
            Id="DesktopFolder" />

        <!-- Base standard directory where MyoFInDer will be added -->
        <StandardDirectory
            Id="LocalAppDataFolder">

            <!-- New directory containing only MyoFInDer -->
            <Directory
                Id="INSTALLDIR"
                Name="MyoFInDer Test">

                <!-- Component containing the myofinder.exe executable and its shortcuts -->
                <Component
                    Id="MainExecutable"
                    Guid="12A42022-5082-45AE-807F-4B3580F9B1E3">
                    <File
                        Id="myofinder.exe"
                        Name="myofinder.exe"
                        DiskId="1"
                        Source="..\..\bin\myofinder.exe"
                        KeyPath="yes">
                            <Shortcut
                                Id="StartMenuShortcutExe"
                                Directory="ProgramMenuDir"
                                Name="MyoFInDer Test"
                                WorkingDirectory="INSTALLDIR"
                                Icon="myofinder.ico"
                                IconIndex="0"
                                Advertise="yes" />
                            <Shortcut
                                Id="DesktopShortcutExe"
                                Directory="DesktopFolder"
                                Name="MyoFInDer Test"
                                WorkingDirectory="INSTALLDIR"
                                Icon="myofinder.ico"
                                IconIndex="0"
                                Advertise="yes" />
                    </File>
                </Component>

                <!-- Component containing the registry keys -->
                <Component
                    Id="RegistryValues"
                    Guid="AA2D3852-53CC-405E-9F05-EA77AD18BDF5">
                    <RegistryKey
                        ForceCreateOnInstall="no"
                        ForceDeleteOnUninstall="no"
                        Key="Software\[ProductName]"
                        Root="HKCU" >
                        <RegistryValue
                            Action="write"
                            Id="SystemPythonExePath"
                            KeyPath="yes"
                            Name="SystemPythonExePath"
                            Type="string"
                            Value="[USERPYTHONPATH39]" />
                    </RegistryKey>
                </Component>

                <!-- Component containing the README file -->
                <Component
                    Id="READMEFile"
                    Guid="9BDC1026-3146-4C36-96A2-91258A3F28BD">
                    <File
                        Id="README"
                        Name="README.rtf"
                        DiskId="1"
                        Source="README.rtf"
                        KeyPath="yes" />
                </Component>

            </Directory>
        </StandardDirectory>

        <!-- Standard directory containing the start menu shortcut -->
        <StandardDirectory
            Id="ProgramMenuFolder">

            <!-- New directory containing the shortcut to MyoFInDer executable -->
            <Directory
                Id="ProgramMenuDir"
                Name="MyoFInDer Test">
                <Component
                    Id="ProgramMenuDir"
                    Guid="099B9BB5-9893-4D07-8521-E0341CAEFF19">
                    <RemoveFolder
                        Id="ProgramMenuDir"
                        On="uninstall" />
                    <RegistryValue
                        Root="HKCU"
                        Key="Software\[ProductName]"
                        Type="string"
                        Value=""
                        KeyPath="yes" />
                </Component>
            </Directory>
        </StandardDirectory>

    </Package>
</Wix>
