cellpose==3.1.1.2
colorama==0.4.6
fastremap==1.20.0
filelock==3.29.7
fill_voids==2.1.2
fsspec==2026.6.0
imagecodecs==2025.3.30
Jinja2==3.1.6
llvmlite==0.48.0
MarkupSafe==3.0.3
mpmath==1.3.0
natsort==8.4.0
networkx==3.4.2
numba==0.66.0
numpy==2.0.2
opencv-python-headless==5.0.0.93
pillow==12.3.0
roifile==2025.12.12
scipy==1.15.3
screeninfo==0.8.1
setuptools==83.0.0
sympy==1.14.0
tifffile==2025.5.10
torch==2.13.0
tqdm==4.68.4
typing_extensions==4.16.0
xlsxwriter==3.2.9
